<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UTImportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeDescription</key>
			<string>Python Script</string>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.shell-script</string>
			</array>
			<key>UTTypeIdentifier</key>
			<string>public.python-script</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>py</string>
				</array>
				<key>public.mime-type</key>
				<array>
					<string>text/x-python-script</string>
				</array>
			</dict>
		</dict>
	</array>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>NSSupportsAutomaticGraphicsSwitching</key>
	<true/>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.python-script</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.c-source</string>
				<string>public.objective-c-source</string>
				<string>public.c-plus-plus-source</string>
				<string>public.objective-c-plus-plus-source</string>
				<string>public.c-header</string>
				<string>public.c-plus-plus-header</string>
				<string>com.sun.java-source</string>
				<string>com.netscape.javascript-source</string>
				<string>public.plain-text</string>
				<string>com.apple.nspboard-type</string>
			</array>
		</dict>
	</array>
	<key>NSHumanReadableCopyright</key>
	<string>(C) 2016 OpenMV, LLC</string>
	<key>CFBundleIconFile</key>
	<string>openmv</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleExecutable</key>
	<string>OpenMV IDE</string>
	<key>CFBundleIdentifier</key>
	<string>org.openmv.openmvide</string>
	<key>CFBundleVersion</key>
	<string>4.0.2</string>
	<key>CFBundleShortVersionString</key>
	<string>4.0</string>
	<key>LSMinimumSystemVersion</key>
	<string>10.7.0</string>
</dict>
</plist>
